.App {
  text-align: center;
}

.App-header {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

.job-list-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  text-align: left;
}

.job-item {
  padding-left: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0 20px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-input {
  width: 100% !important;
  max-width: 400px;
  margin-right: 10px;
}

.search-input-flex {
  flex: 1;
  margin-right: 10px;
}


.calendar-btn {
  background-color: #d4db70 !important;
  color: black !important;
  border-color: black !important;
}

.add-job-btn {
  background-color: orange !important;
  color: white !important;
  border-color: orange !important;
}

.form-inline {
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin-left: auto;
}

.search-input {
  flex: 1;
}